body {
background-color:#90AFC5 ;
}

h1 {
    color:#2A3132  ;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: 65px;
}

.cartoon {
    margin: 10px 15px 0 0 ;
    padding: 10px;
    border-radius: 15px;
    background-color: #336B87 ;
    color: white;
}

.cartoon:hover {
    background-color: white;
    color: #336B87;
}

#cartoon-form {
  margin-top: 15px;
}

#cartoon-input {
  width: 100%;
  border-radius: 15px;
}

#add-cartoon {
  border-radius: 15px;
  margin-top: 5px;
  color: #336B87;
}

#add-cartoon:hover {
  color: white;
  background-color: #336B87;
}

#buttons-view {
  padding: 0;
  margin: 10px 0 15px 0;
}

img {

  margin-right: 15px;
}

img:hover{
  opacity: 75%;
}